@import '../lib//index.css';

@custom-variant dark (&:where(.dark, .dark *));

.sbdocs-preview,
body {
	font-family: var(--font-sans);
	background-color: var(--color-white) !important;
	color: var(--color-neutral-950) !important;
}

.dark {
	.sbdocs-preview,
	body {
		font-family: var(--font-sans);
		background-color: var(--color-neutral-800) !important;
		color: var(--color-neutral-100) !important;
	}
}
